<div class="col-12 col-md-6 col-lg-4 px-2" id="product_<%=@product.product_id%>">
  <div class="card card-product">
    <%= image_tag @product.product.image, class:"card-img-top", alt: @product.product.name%>
    <div class="card-body">
      <%@nameLink = @product.product.name.first(7)+"..."%>
      <h5 class="card-title"><%=link_to @nameLink, product_path(@product)%></h5>
    </div>
    <div class="card-body">
      <div class="">
        <%= @product.product.price%>
      </div>
      count: <%= number_field_tag :count,@product.count, onchange:"cart_product_change_count(#{@product.product_id},this.value)" %>
      <%= link_to "Show", product_path(@product), class:"card-link" %>
<div class="btn btn-danger card-link" onclick="remove_from_cart(<%=@product.product_id%>)">remove from card</div>
  </div>
  </div>
</div>
